$gray: #494949;
$lightgray: #f4f4f4;
$brown1:#1A180F; //nav
$brown2:#111106; //background
$brown3:#1D1C14; //categories
$brown4:#312E21; //li item
$brown5:#2E2C18; //body background
$brown6:#C8CC9D; //text
$brown7:#EEECE5;



$main-font: 20px;
$double-main: 32px;